  @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Manrope:wght@300;400;500;600;700;800&family=Urbanist:wght@100;400;500;600;700;800&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  box-shadow: 0px 7px 14px 0px #00000012;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px 0 100px;
  z-index: 1000; 
}
nav ul{
  display: flex;
  list-style: none;
}
nav ul li{
  margin-left: 30px;
 
}
nav ul li a{
  font-family: Urbanist;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color:#00000099;
text-decoration: none;
transition: 0.5s;
}
nav ul li a.active,
nav ul li a:hover{
  color: #15804F;
}
nav .menu-btn i{
font-size: 20px;
cursor: pointer;
display: none;
}
#click{
  display: none;
}
@media (max-width: 1150px){
  nav{
      padding: 0px 50px 0 50px;
  }
  nav .menu-btn i{
      display: inline-flex;
  }
  .menu-btn #close-icon{
      display: none;
  }
  #click:checked ~ .menu-btn #close-icon{
      display: block;
  }
  #click:checked ~ .menu-btn #menu-icon{
      display: none;
  }
  nav ul{
      position: fixed;
      top:90px;
      left:-100%;
      background: rgb(238, 235, 235);
      height: 53vh;
      width: 100%;
      display: block;
    transition: all 0.5s ease;
  }
  #click:checked ~ ul{
      left:0%;
  }
  nav ul li{
      margin: 40px 0;
  }
  nav ul li a{
      font-size: 23px;
      display: block;
      text-align: center;
      font-weight: 500;
      color: #000;
  }
}
@media (max-width: 610px){
  nav{
      padding: 0px 10px 0 10px;
  }
  .logo img{
      width: 300px;
      height: 51px;
  }
}
/* home page */

.home {
  height: 100vh;
  /* height: auto; */
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home-inner {
  /* width: 80%; */
  /* height: 65vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  gap: 100px;
}

.home-inner .left {
  display: flex;
  flex-direction: column;
  /* text-align: start; */
  gap: 50px;
  font-family: urbanist;
  /* align-items: center; */
  justify-content: start;
}

.home-inner .left h1 {
  font-family: Urbanist;
  font-size: 60px;
  font-weight: 800;
  padding-top: 30px;
  line-height: 82px;
  letter-spacing: 0.03em;
  width: 556px;
}

.home-inner .left h1 span {
  color: #15804f;
}
.home-inner .left p {
  font-family: Urbanist;
  font-size: 18px;
  padding-top: 30px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  width: 617px;
  text-align: left;
}
button {
  width: 191px;
  background: #15804f;
  height: 48px;
  padding: 13px 50px 13px 50px;
  border-radius: 5px;
  text-align: center;
  border: none;
  color: #ffffff;
  gap: 10px;
  font-family: urbanist;
  cursor: pointer;
  transition-duration: 0.2s;
}

button:hover {
  border: 1px solid #15804f;
  background-color: #fff;
  color: #15804f;
}

/*  */
@media (max-width:480px){
  .home{
    align-items: center;
    margin-top: 10%;
    height: auto;
  }
  .home-inner {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .home-inner .left {
    gap: 10px;
  }
  .home-inner .left h1 {
    font-size: 35px;
    line-height: 53px;
    max-width: 300px;
  }
  .home-inner .left p{
    font-size: 14px;
    line-height: 28px;
    max-width: 280px;
  }
  .right img {
    width: 348px;
    height: 278px;
  }
}
@media only screen and (max-width: 610px) and (min-width: 480px){
  .home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 10%;
  }
  .home-inner {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .home-inner .left {
    justify-content: center;
    /* align-items: center; */
  }
  .home-inner .left p {
    font-size: 14px;
    line-height: 28px;
    max-width: 500px;
  }
  .home-inner .left h1 {
    font-size: 35px;
    line-height: 53px;
    max-width: 400px;
  }
  button{
    width: 120px;
    height: 30px;
  }
}
@media only screen and (max-width: 950px) and (min-width: 611px){
  .home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    height: auto;
  }
  .home-inner {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .home-inner .left p {
    font-size: 18px;
    line-height: 28px;
    max-width: 500px;
  }
  .home-inner .left h1 {
    font-size: 40px;
    line-height: 53px;
    max-width: 400px;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 910px){
  .home{
    height: auto;
  }
  .home-inner {
    display: flex;
    gap: 12px;
  }
  .home-inner .left p {
    font-size: 16px;
    line-height: 28px;
    max-width: 500px;
  }
  .home-inner .left h1 {
    font-size: 36px;
    line-height: 53px;
  }
  .right img{
    width: 348px;
    height: 278;
  }
}

/* sectionb */
.sectionb {
  width: 100%;
  height: 200px;
  background: #f9f9f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.brand {
  /* width: 70%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* text-align: center; */
  gap: 30px;
}
.logoA img {
  height: 48px;
}

/*  */
@media (max-width: 480px) {
  .sectionb {
    /* padding-top: 330px; */
    padding-bottom: 30px;
    height: 100%;
    /* margin-top: 14%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
  }
}


@media (max-width: 950px){
  .sectionb {
    width: 100%;
    padding-bottom: 46px;
    height: 100%;
    padding-top: 46px;
    gap: 10px;
    /* margin-top: 14%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
  }
}
/* sectionc */
.news_page {
  background: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news_page .news_page_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.news_page .news_page_inner .news-heading h1 {
  font-family: Urbanist;
  text-align: center;
  font-size: 54px;
  font-weight: 700;
  line-height: 65px;
  padding-top: 50px;
}
.news_page_inner h1 span {
  color: #15804f;
  font-family: Cabin;
  font-size: 54px;
  font-weight: 700;
  line-height: 66px;
}
.cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 52px;
}
.card-date {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 14px;
  max-width: 378px;
}
.card-date p {
  font-family: Gilroy-SemiBold;
  font-size: 16px;
  height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #64607d;
  max-width: 378px;
}

.cardA .cards-details h1 {
  font-family: Cabin;
  font-size: 26px;
  max-width: 378px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
.cards-details p {
  font-family: Cabin;
  font-size: 17px;
  max-width: 378px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  padding-top: 20px;
  height: 168px;
  text-align: left;
  color: #222222cc;
}
.cards-details p span {
  color: #15804f;
}
.learn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.learn-more button {
  margin-bottom: 50px;
}
/*  */

@media (max-width: 1290px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: center;
  }
}

/* project page */
.project_page {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project_page .project_page_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project_page_inner .project-heading {
  display: flex;
  justify-content: center;
}
.project_page_inner .project-heading h1 {
  font-family: Urbanist;
  font-size: 54px;
  font-weight: 700;
  padding-top: 20px;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
}
.project_page_inner .project-heading h1 span {
  font-family: Cabin;
  font-size: 54px;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: 0em;
  color: #15804f;
  text-align: left;
}
.project_page_inner .projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
  margin-bottom: 70px;
  gap: 59.47px;
}
.projects .project-left h1 {
  font-family: Urbanist;
  font-size: 26px;
  text-align: center;
  width: 303.96px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}
.projects .project-left h1 span {
  color: #15804f;
}
.projects .project-left p {
  font-family: Cabin;
  font-size: 17px;
  padding-top: 20px;
  font-weight: 400;
  line-height: 31px;
  width: 458px;
  letter-spacing: 0em;
}
.projects .project-left p span {
  font-family: Urbanist;
  font-size: 17px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  color: #15804f;
}

/* project page responsive */
@media (max-width: 480px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .project_page_inner .project-heading h1 {
    font-size: 44px;
  }
  .project_page_inner .project-heading h1 span {
    font-size: 44px;
  }
  .project_page_inner .projects {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .projects .project-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .projects .project-left h1 {
    font-size: 26px;
    width: 303.96px;
  }
  .projects .project-left p {
    font-size: 17px;
    padding-top: 20px;
    width: 370px;
  }
  .project-right img {
    width: 378px;
    height: 278px;
  }
}

@media (max-width: 1290px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 910px){
  .project-right img {
    width: 478px;
    /* height: 378px; */
  }
}
@media (max-width: 610px){
  .project-right img {
    width: 378px;
    /* height: 278px; */
  }
}
/* directors page */
.directors-page {
  background-color: #f9f9f9;
  width: 100%;
}
.directors-page .directors-page-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.directors-page-inner .directors-heading h1 {
  font-family: Urbanist;
  font-size: 54px;
  font-weight: 700;
  padding-top: 40px;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
}
.directors-page-inner .directors-heading h1 span {
  color: #15804f;
}

.directors-page-inner .directors-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 80px;
  gap: 64px;
}
.directors-cards .directors-cards-inner {
  width: 371px;
  height: 370px;
  background-color: #ffffff;
  box-shadow: 0px 7px 14px 0px #00000012;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.directors-cards-inner .card-top img {
  padding-top: 15px;
}
.directors-cards-inner .card-top h1 {
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}
.directors-cards-inner .card-top p {
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2px;
  text-align: center;
  color: #15143966;
  padding-top: 23px;
  padding-bottom: 48.8px;
  width: 270px;
}
.directors-cards-inner .card-icons {
  display: flex;
  gap: 100px;
}

@media (max-width: 480px) {
  .directors-page-inner .directors-heading h1 {
    font-size: 44px;
  }
}
/* map */

.map {
  width: 100%;
  background-color: #fff;
}
.map .map-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 480px) {
  .map .map-inner img {
    width: 370px;
  }
}
@media (max-width: 1300px){
  .map .map-inner img {
    width: 800px;
  }
}
@media (max-width: 1300px){
  .map .map-inner img {
    width: 600px;
  }
}
@media (max-width: 610px){
  .map .map-inner img {
    width: 380px;
  }
  .map .map-inner {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

/* footer */
footer{
  width: 100%;
  height: 100%;
  background: linear-gradient(91.11deg, #15804f 0%, #3164cf 100%);
}
footer .footer-inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 87px;
  padding-bottom: 59px;
}
footer .footer-inner .footer-content{
  padding-right: 46px;
}
footer .footer-inner .footer-content p{
    padding-top: 24px;
    font-family: Cabin;
font-size: 17px;
font-weight: 400;
width: 213px;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}
.footer-inner .footer-content .footer-icons{
  margin-top: 33px;
  display: flex;
  gap: 16px ;
}
.footer-contentb{
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-right: 137px;
}
.footer-contentb h1{
  font-family: Manrope;
font-size: 21px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}
.footer-contentb a{
  font-family: Manrope;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}
.footer-contentc{
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-right: 111px;
}
.footer-contentc h1{
  font-family: Manrope;
font-size: 21px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}
.footer-contentc a{
  font-family: Manrope;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}
.footer-contentd{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-contentd h1{
  font-family: Manrope;
font-size: 21px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color:#FFFFFF;
}
.footer-contentd .search-bar{
  width: 389px;
  height: 52px;
}
.footer-contentd .search-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: #3975B3;
}
.footer-contentd .search-bar .input-box{
  padding: 13px; 
}

.footer-contentd .search-bar input{
  border: none;
  outline: none;
  font-family: Manrope;
font-size: 16px;
font-weight: 500;
color:#FFFFFF;  
letter-spacing: -0.02em;
text-align: left;
  background: transparent;
}
.footer-contentd .search-bar input::placeholder{
  color:#FFFFFF;
}
.footer-contentd .search-bar button{
  width: 149px;
  height: 52px;
}
.footer-contentd p{
  width: 329px;
  font-family: Manrope;
font-size: 16px;
color:#FFFFFF;
font-weight: 500;
line-height: 26px;
padding-bottom: 33px;
letter-spacing: -0.02em;
text-align: left;

}
.bottom-line{
  padding-bottom: 40px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;

}
.bottom-line hr{
  width: 80%;
  height: 2px;
  color: #ffffff;
}
.last-text p{
  font-family: Manrope;
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: -0.02em;
text-align: center;
color: #FFFFFF;
padding-bottom: 20px;
}

@media (max-width:1300px){
  .footer{
    width: 100%;
  }
footer .footer-inner{
  
  gap: 30px;
}
.footer-inner .footer-content .footer-icons{
  margin-top: 22px;
  gap: 12px;
}
.footer-contentb{
  gap: 10px;
  padding-right: 137px;
}
.footer-contentc{
  gap: 10px;
  padding-right: 111px;
}
.footer-contentd{
  gap: 10px;
  align-items: start;
}
.footer-contentd p{
  padding-bottom: 0px;
}
.footer-contentd .search-bar{
  width: 289px;
  height: 52px;
}
.footer-contentd .search-bar{
  justify-content: space-between;
  gap: 15px;
}
.footer-contentd .search-bar .input-box{
  padding: 13px; 
}

.footer-contentd .search-bar button{
  width: 100px;
  height: 52px;
}
button{
  padding: 0px;
}

}
@media (max-width:610px){
  .footer-contentd .search-bar{
    width: 239px;
    height: 45px;
  }
  button{
    padding: 0px;
  }
  .footer-contentd .search-bar button{
    width: 90px;
    height: 45px;
  }
}